<!DOCTYPE html>
<html>
  <%= render 'shared/header_tag' %>
  <body>
    <%= render 'shared/header' %>
    <div class="body">
      <div class="container">
        <p id="notice"><%= notice %></p>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
